### loop programs

In [1]:
## for loop

for var in range(10):
    print(var)

0
1
2
3
4
5
6
7
8
9

In [2]:
for var in range(5,10):
    print(var)

5
6
7
8
9

In [1]:
lst = [4,5,2,6,7,8,5,2,5,7,8,9]

for item in lst:
    if item == 9:
        print('present')

present

In [2]:
lst = (4,5,2,6,7,8,5,2,5,7,8,9)

for item in lst:
    if item == 9:
        print('present')

present

In [5]:
company_name = 'upflairs pvt ltd jaipur'
company_name.count('u')
company_name.count('p')
company_name.count('f')

1

In [6]:
company_name = 'upflairs pvt ltd jaipur'

for char in company_name:
    print(char , company_name.count(char))

u 2
p 3
f 1
l 2
a 2
i 2
r 2
s 1
  3
p 3
v 1
t 2
  3
l 2
t 2
d 1
  3
j 1
a 2
i 2
p 3
u 2
r 2

In [7]:
dt = {'name':'goving','branch':'cse','roll_no':25,'college':'aryaa'}

for item in dt.values():
    print(item)

goving
cse
25
aryaa

In [8]:
info = ('govind','cse',25)
info

# tuple unpacking
name, branch , roll_no   = info

In [9]:
dt = {'name':'goving','branch':'cse','roll_no':25,'college':'aryaa'}

dt.items()

dict_items([('name', 'goving'), ('branch', 'cse'), ('roll_no', 25), ('college', 'aryaa')])

In [10]:
a = [('name', 'goving'), ('branch', 'cse'), ('roll_no', 25), ('college', 'aryaa')]

for a , b  in a:
    print(a , b)

name goving
branch cse
roll_no 25
college aryaa

In [11]:
dt = {'name':'govind','branch':'cse','roll_no':25,'college':'aryaa'}

for key , value in dt.items():
    print(key ,'<<<<<>>>>>>', value)

name <<<<<>>>>>> govind
branch <<<<<>>>>>> cse
roll_no <<<<<>>>>>> 25
college <<<<<>>>>>> aryaa

In [1]:
lst = list(range(5,21))
print(lst,'\n')

list(enumerate(lst))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[(0, 5),
 (1, 6),
 (2, 7),
 (3, 8),
 (4, 9),
 (5, 10),
 (6, 11),
 (7, 12),
 (8, 13),
 (9, 14),
 (10, 15),
 (11, 16),
 (12, 17),
 (13, 18),
 (14, 19),
 (15, 20)]

In [2]:
lst = list(range(5,21))
print(lst,'\n')


for i , item  in enumerate(lst):
    if item ==15:
        print("yes it is present on this position :",i)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

yes it is present on this position : 10

In [14]:
# break , continue 

for i in range(1,11):
    print(i)
    if i == 5:
        break
print('out of loop')

1
2
3
4
5
out of loop

In [15]:
for i in range(1,11):

    if i == 5:
        continue
    print(i)


print('out of loop')

1
2
3
4
6
7
8
9
10
out of loop

In [16]:
i =  15
i <=10

False

In [17]:
# while 

# initilaization
# while condition:
#     block of Code
#     increment operator


# i = 0 
# while i <=10:
#     print(i)
#     i +=1


condition = True
i = 0 
while condition:
    print(i)
    if i == 200:
        break
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

In [18]:

#### tasks
1. write a program to find minimum element from the list using loop 
2. write a program to find maximum element from the list using loop 
3. find average of all of elements of given list,
4. find sum of all even elements of a given list and vice versa
5.

SyntaxError: invalid syntax (1777673108.py, line 2)

In [ ]:
#1. write a program to find minimum element from the list using loop 
x = [1,5,8,99,66]