In [2]:
# '''Q-1. What will be the output of the following Python code?
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])
# list === refrential array

[1, 3, 5, 7, 9]

In [8]:
# Write a Python program to Multiply all numbers in the list?
x = [1,4]
result =1
for item in x:
        result*= item
print("total multiple item in list",result)


# esme to function used hoga

total multiple item in list 4

In [4]:
# Write a Python program to find smallest number in a list?
x = [1,2,3]
min(x)

1

In [5]:
# Write a Python program to find largest number in a list?
x  = [1,2,3]
max(x)

3

In [6]:

# Write a Python program to find second largest number in a list?
x  = [1,2,3]
output=0
for item in x:
    output>=1 ==item 
    print("second largest number in list", output)
    break

second largest number in list 0

In [7]:
# Write a Python program to find N largest elements from a list?
x  = [1,2,5,9,3]
x.nlargest()

AttributeError: 'list' object has no attribute 'nlargest'

In [ ]:
#Write a Python program to print odd numbers in a List?
# x  = [1,2,3] #loop 
#Write a Python program to print even numbers in a list?
x  = [1,2,3,1,2,3,1,2,3,46]
item ==0
if item%2!=0:
    print("that is odd",item)
else:
    print("that is odd")    
# for item in x:
#     item%2==0
#     print("that is even number in list",item)

that is odd

In [ ]:
#

In [ ]:
# Write a Python program to Remove empty List from List

lit=  [[12,44],[55,88],[],[]]
non_empty_list =[]
for item in lit:
    if item :
        non_empty_list.append(item)
        print("List after removing empty lists:",non_empty_list)

List after removing empty lists: [[12, 44]]
List after removing empty lists: [[12, 44], [55, 88]]

In [ ]:
# Example list containing empty lists
my_list = [[1, 2], [], [3, 4], [], [], [5, 6], []]

# Create a new list to store non-empty lists
non_empty_list = []

# Iterate through each sublist in the original list
for sublist in my_list:
    # Check if the sublist is not empty
    if sublist:
        # If not empty, add it to the new list
        non_empty_list.append(sublist)

# Print the updated list
print("List after removing empty lists:", non_empty_list)

List after removing empty lists: [[1, 2], [3, 4], [5, 6]]

In [ ]:
#Write a Python program to Count occurrences of an element in a list?
x  = [1,2,3,4,88,4,2,2,6,8]
# occurrence_number=2
# heloo = occurrence_number.count

TypeError: list.count() takes exactly one argument (0 given)

 Write a Python program to find words which are greater than given length k?
Q12. Write a Python program for removing i-th character from a string?
Q13. Write a Python program to split and join a string?
Q14. Write a Python to check if a given string is binary string or not?
Q15. Write a Python program to find uncommon words from two Strings?

In [ ]:
# Write a Python program for removing i-th character from a string?
list = ["hello","hiii","byyy"]
for item in range( len(list)-1):

        print('element',list[item])

element hello
element hiii

In [ ]:
# Write a Python program to split and join a string?
#join 
list = ["hello","hiii","byyy"]
list2 = ["hello","hiii","byyy"]
print(list+list2)
#split
list2(list[1:2])

['hello', 'hiii', 'byyy', 'hello', 'hiii', 'byyy']

TypeError: 'list' object is not callable

In [ ]:
# Write a Python to check if a given string is binary string or n
x= 8
y=12
print(x==y)

False

In [ ]:
# Write a Python program to find uncommon words from two Strings? by hashing

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
# Example list
my_list = [10, 5, 20, 15, 30]

# Initialize variables to store maximum and second maximum numbers
max_num = float('-inf')
largest_max = float('-inf')

# Iterate through the list to find maximum and second maximum
for num in my_list:
    if num == max_num:
        largest_max = max_num
        latgest_num = num
    elif num > largest_max and num != max_num:
        largest_max = num

# Print the second largest number
print("Second largest number in the list:", largest_max)

Second largest number in the list: 30

In [ ]:

my_list = [10, 5, 20, 15, 30]
my_list.sort(reverse=True)
my_list[1]

20

In [ ]:
# make your own sort()

In [ ]:
import re    # regular expression

In [ ]:
text = """"College education stands as a 54548 pivotal milestone in many individuals' lives, symbolizing not only not academic achievement but also personal growth, career prospects, and societal contributions. Beyond the mere acquisition of knowledge, college fosters an environment  4845 symbolizing conducive to holistic development, shaping individuals intellectually, 54787 socially, and emotionally. In this essay, we'll explore the multifaceted value of college education, its transformative power, and its enduring significance in today's power world"""
text

'"College education stands as a 54548 pivotal milestone in many individuals\' lives, symbolizing not only not academic achievement but also personal growth, career prospects, and societal contributions. Beyond the mere acquisition of knowledge, college fosters an environment  4845 symbolizing conducive to holistic development, shaping individuals intellectually, 54787 socially, and emotionally. In this essay, we\'ll explore the multifaceted value of college education, its transformative power, and its enduring significance in today\'s power world'

In [ ]:
text[text.find('not')+4:].find('not')

5

In [ ]:
pattern = "^College.*world$"
print(re.search(pattern,text))

None

In [ ]:
re.search("sym",text)

In [ ]:
len(re.findall("power",text))

2

In [ ]:
re.split(',',text)

['"College education stands as a pivotal milestone in many individuals\' lives',
 ' symbolizing not only not academic achievement but also personal growth',
 ' career prospects',
 ' and societal contributions. Beyond the mere acquisition of knowledge',
 ' college fosters an environment symbolizing conducive to holistic development',
 ' shaping individuals intellectually',
 ' socially',
 ' and emotionally. In this essay',
 " we'll explore the multifaceted value of college education",
 ' its transformative power',
 " and its enduring significance in today's power world"]

In [ ]:
pattern = 'symbo5'
x = re.search(pattern,text)

if x:
    print('pattern matched')
else:
    print('not matched')

not matched

In [ ]:
text[77:82]

'symbo'

In [ ]:
print(text)

"College education stands as a pivotal milestone in many individuals' lives, symbolizing not only not academic achievement but also personal growth, career prospects, and societal contributions. Beyond the mere acquisition of knowledge, college fosters an environment symbolizing conducive to holistic development, shaping individuals intellectually, socially, and emotionally. In this essay, we'll explore the multifaceted value of college education, its transformative power, and its enduring significance in today's power world

In [ ]:
re.sub('milestone','ROCKY',text)

'"College education stands as a 54548 pivotal ROCKY in many individuals\' lives, symbolizing not only not academic achievement but also personal growth, career prospects, and societal contributions. Beyond the mere acquisition of knowledge, college fosters an environment  4845 symbolizing conducive to holistic development, shaping individuals intellectually, 54787 socially, and emotionally. In this essay, we\'ll explore the multifaceted value of college education, its transformative power, and its enduring significance in today\'s power world'

In [ ]:
text

'"College education stands as a 54548 pivotal milestone in many individuals\' lives, symbolizing not only not academic achievement but also personal growth, career prospects, and societal contributions. Beyond the mere acquisition of knowledge, college fosters an environment  4845 symbolizing conducive to holistic development, shaping individuals intellectually, 54787 socially, and emotionally. In this essay, we\'ll explore the multifaceted value of college education, its transformative power, and its enduring significance in today\'s power world'

In [ ]:
re.sub('[^a-zA-Z]',' ',text)

' College education stands as a       pivotal milestone in many individuals  lives  symbolizing not only not academic achievement but also personal growth  career prospects  and societal contributions  Beyond the mere acquisition of knowledge  college fosters an environment       symbolizing conducive to holistic development  shaping individuals intellectually        socially  and emotionally  In this essay  we ll explore the multifaceted value of college education  its transformative power  and its enduring significance in today s power world'

In [ ]:
text

'"College education stands as a 54548 pivotal milestone in many individuals\' lives, symbolizing not only not academic achievement but also personal growth, career prospects, and societal contributions. Beyond the mere acquisition of knowledge, college fosters an environment  4845 symbolizing conducive to holistic development, shaping individuals intellectually, 54787 socially, and emotionally. In this essay, we\'ll explore the multifaceted value of college education, its transformative power, and its enduring significance in today\'s power world'

In [ ]:
text = """"College education stands as a 54548 pivotal milestone in smartenginnee452@gmail.com many individuals' lives, symbolizing not only not academic achievement 8545966575 but also personal growth, +917885954565 career prospects, and societal contributions. Beyond the mere acquisition of knowledge, college fosters an jiradhey4022@gmail.com environment  4845 symbolizing conducive to holistic development, shaping 9758125245 individuals intellectually, 54787 socially, and emotionally. In this essay, we'll explore the multifaceted value of college education, its transformative power, and its enduring significance in today's power world"""
text

'"College education stands as a 54548 pivotal milestone in smartenginnee452@gmail.com many individuals\' lives, symbolizing not only not academic achievement 8545966575 but also personal growth, +917885954565 career prospects, and societal contributions. Beyond the mere acquisition of knowledge, college fosters an jiradhey4022@gmail.com environment  4845 symbolizing conducive to holistic development, shaping 9758125245 individuals intellectually, 54787 socially, and emotionally. In this essay, we\'ll explore the multifaceted value of college education, its transformative power, and its enduring significance in today\'s power world'

In [ ]:
pattern = r"\b[A-Za-z0-9._%+-]+@gmail\.com\b"

re.findall(pattern,text)

['smartenginnee452@gmail.com', 'jiradhey4022@gmail.com']

In [ ]:
pattern = r"\b(?:\+?91|0)?[ -]?\d{3}[ -]?\d{4}[ -]?\d{3}\b"
re.findall(pattern,text)

[' 8545966575', '917885954565', ' 9758125245']

In [ ]:
# Polymorphism 
# encapsulation

var1 = "upflairs pvt ltd"
var2 = [14,52,45,63,52,45,74,12]
var3  = {1,2,3,5,4}
var4 = {'a':1,'b':2,'c':3}
var5 = (14,52,45,63,52,45,74,1200)

In [ ]:
len(var5)

8

In [ ]:
class A:
    def move(self):
        print('class A')

class B:
    def move(self):
        print('class B')

class C:
    def move(self):
        print('clas c')

8

In [ ]:
len(var2)

8

In [ ]:
class aver:
     def text(self,sss): 
          # item = 0
          temp =0
          for item in sss:
               temp+= item
          # print(temp)
          item+=1
          av = temp/item
          print(av)

          print(item)


          
a = aver()
a.text(sss= [1,5,1,5])

        
        # # instance method 
#     def display(self):
#         print(self.animal_weight)

2.0
6

In [ ]:
class Average_finder:
    def __init__(self,lst):
        self.lst_items = lst
        self.lst_items2 = [41,2,1,3,6,4,2,1,5,7,8,5,2,1,25,12,5]

    def average(self):
        items = 0
        total = 0
        for item in self.lst_items:
            total += item
            items += 1
        average = total/items
        return average
class B(Average_finder):
   def less_than_average_elements(self):

    a = self.average()
    print('this is your average : ',a )
    for item2 in self.lst_items2:
        if item2 <=a:
            print(item2)
            
            


obj = B(lst=[1,1,5,5,10,20,41])
obj.less_than_average_elements()

this is your average :  11.857142857142858
41
25
12

In [ ]:
class String_1:
    def __init__(self):
        self.bb = 'hello hii byyy'
    def find(self):
        dict={}    
        for item in self.bbs:
            # if item.isalpha():
                
       




obj=String_1()
a= obj.find
print(a)

<bound method String_1.find of <__main__.String_1 object at 0x000002BCBEB57810>>

In [ ]:
{'a':2,'h':3}

In [ ]:
def count_alphabets(input_string):
    # Initialize an empty dictionary to store counts of each alphabet
    alphabet_counts = {}

    # Iterating through the characters in the string
    for char in input_string:
        if char.isalpha():  # Checking if the character is alphabetic
            char_lower = char.lower()  # Convert the character to lowercase
            # Increment the count of the alphabet in the dictionary
            alphabet_counts[char_lower] = alphabet_counts.get(char_lower, 0) + 1

    return alphabet_counts

# Example usage
input_str = "Hello, World!"
result = count_alphabets(input_str)
print(result)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}