In [6]:
a =100
b = 100
a is b  # referential equality

True

In [7]:
a =[]
b = []
a is b

False

In [8]:
a = 257
b =257
a is b

False

In [9]:
import random
import math

def gen(len):
 otp = ''
 for i in range (0,len):
  otp += math.floor(math.random()*10).toString()
  return otp
gen(4)

AttributeError: module 'math' has no attribute 'random'

In [10]:
for(i=0;i<=10,i++)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2238118526.py, line 1)

In [11]:
#How would you express the hexadecimal value a5 as a base-16 integer constant in Python?

In [12]:
#How would you express the constant floating-point value 3.2 Ã— 10-12 in Python:

In [13]:
3.2 * 10**-12

3.2e-12

In [14]:
#The provided code stub reads and integer, , from STDIN. For all non-negative integers , print .

x =[12,4,4]
result =[]
for item in x:
      result.append ( item**2)
print(result)

[144, 16, 16]

In [15]:
# leap year 
year = int(input("Enter the year"))
def leap_year(year):
    
        if (year%4==0 and year % 100 != 0):
          print("that is leap year",year)
        else:
             print("that is not leap year",year)
leap_year(year)

that is not leap year 4531

In [43]:
x = 20
# for item in x:
for item in range(20):
    # item+=item
        print(item%6)

01234501234501234501

In [35]:
count = 0
while count < 5:
    print("Loop is running for the", count + 1, "time")
    count += 1

Loop is running for the 1 time
Loop is running for the 2 time
Loop is running for the 3 time
Loop is running for the 4 time
Loop is running for the 5 time

In [44]:
for i in range(20):  
    print(i % 6)

0
1
2
3
4
5
0
1
2
3
4
5
0
1
2
3
4
5
0
1

In [37]:
1%6

1

In [49]:
for i in range(100):
    if i%2!=0:
        print("that is odd",i)

that is odd 1
that is odd 3
that is odd 5
that is odd 7
that is odd 9
that is odd 11
that is odd 13
that is odd 15
that is odd 17
that is odd 19
that is odd 21
that is odd 23
that is odd 25
that is odd 27
that is odd 29
that is odd 31
that is odd 33
that is odd 35
that is odd 37
that is odd 39
that is odd 41
that is odd 43
that is odd 45
that is odd 47
that is odd 49
that is odd 51
that is odd 53
that is odd 55
that is odd 57
that is odd 59
that is odd 61
that is odd 63
that is odd 65
that is odd 67
that is odd 69
that is odd 71
that is odd 73
that is odd 75
that is odd 77
that is odd 79
that is odd 81
that is odd 83
that is odd 85
that is odd 87
that is odd 89
that is odd 91
that is odd 93
that is odd 95
that is odd 97
that is odd 99